body {
  background-color: #001d3a !important;
}

#CAROUSEL1,
#CAROUSEL2,
#CAROUSEL3 {
  transition: 0.4s ease-in-out;
}

#CAROUSEL1:hover,
#CAROUSEL2:hover,
#CAROUSEL3:hover {
  transform: scale(1.13);
}
